*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    max-width: 1280px;
    margin: 0 auto;
    /* margin-top: 100px;
    margin-left: 250px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(175, 175, 225);
}
#firstDiv{
    display: flex;
    justify-content: space-around;

}

.right{
    padding-top: 450px;
}
